/*shortcuts*/
.nopr{padding-right: 0!important;}
.tleft{text-align: left!important;}
.tright{text-align: right!important;}
/*main*/
body {}

.h4{width: 340px;}
.navbar-nav{float: right;margin-top: 64px;}
	.navbar-nav a{color: black!important;}
		.navbar-nav a:hover{background-color: transparent;}
		.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{color: black; background-color: white;text-decoration: underline;}
.container{max-width: 1007px;/*width: 100%;*/}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.banner{margin: 50px 0;overflow: hidden;}
	.banner h4{margin:10px 0;}
	.banner img{/*margin-left: -15px;*/margin:0;position: relative;/*width: 100%;*/}
		.banner img.visible-xs{right: 140px;}
	


.navbar{height: 200px;background-color: white;border: 0;}
	.navbar-collapse{border: 0;background-color: white;}
	.navbar-header{height: 192px;height: 225px;}
	.navbar-toggle{border-color: black;}
		.navbar-toggle span	{background-color: black;}

.in .navbar-nav, .collapsing .navbar-nav{text-align: center;float: none;}

.container{padding:0;}
	.container .content{text-align: center;}
		.container .content h1,h4{text-transform: uppercase;}

.gallerie div{/*border: 1px grey solid;*/}
.gallerie .thumb{width: 190px;margin:15px;margin-left: 0;}
	.gallerie .thumb:first-of-type{margin-left: 0;}



/*projekte*/
.projekte .col-sm-4{min-width: 300px;}

.projekte .text{padding-top: 75px;}
	.projekte .row{margin-bottom: 15px;/*max-width: 1007px;*/}


/*projekte*/

/*footer*/
.footer{margin: 50px 0 100px 0;}
	.footer .logos{margin: 50px 0 100px 0;text-align: center;}
		.footer .logos img{margin-top: 50px;}
		
	.footer ul{padding-left: 0;}
	.footer li{list-style: none;}
		.footer li a{color: black;}


/*impressum*/

.impressum{margin-top: 40px;}

/*media queries*/

@media (min-width:550px){

	.banner img{right: 0; width: auto;}
	
/*.banner{overflow: visible;}
	.banner img {
        max-width: none;
    }*/

}

@media (min-width:768px){
	.container .content {
        text-align: left;
    }

    .banner{overflow: visible;}
    #oben{width: 1007px;}

    /*.projekte*/

    

    .projekte h4{float: right;margin-bottom: 15px;}
    .projekte .row img{;}
    	.projekte .rechts{float: right;text-align: right;}
    		.projekte .rechts h4{padding-right: 140px;}
    	.projekte .links{text-align: left;}
    		.projekte .links h4{padding-right: 40px;}
    	
    	.projekte .col-sm-4{min-width: 300px;}
    	.projekte .text{text-align: left;}
    /*projekte*/
    	/*.banner img{max-width: 100%;}*/
    }
}
